@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
@import url("https://fonts.googleapis.com/css?family=Inconsolata");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");
body h1 {
  font-family: "Inconsolata", serif;
  font-size: 24px; }
  @media (min-width: 1000px) {
    body h1 {
      font-size: 36px; } }
body h2 {
  font-family: "Inconsolata", serif;
  font-size: 22px;
  padding-bottom: 10px; }
  @media (min-width: 800px) {
    body h2 {
      font-size: 24px; } }
body h3 {
  font-family: "Inconsolata", serif;
  font-size: 18px;
  padding-bottom: 10px; }
  @media (min-width: 1000px) {
    body h3 {
      font-size: 22px; } }
body p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-bottom: 10px; }
  body p a {
    text-decoration: underline; }
body a {
  text-decoration: none;
  color: black; }
  body a:hover {
    text-decoration: underline; }
body h1, body h2, body h3, body h4, body p {
  -webkit-margin-before: 10px;
  -webkit-margin-after: 10px; }

div[class^="component-"] {
  margin-left: 10px;
  margin-right: 10px; }

.App-header {
  text-align: center; }

.App-intro {
  font-size: large; }

.App-title {
  padding-top: 10px; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.page-index {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-areas: "welcome" "content" "picture" "self-description"; }
  @media (min-width: 800px) {
    .page-index {
      grid-template-columns: 2fr 1fr;
      grid-template-areas: "welcome welcome" "content picture" "content self-description"; } }

.focus-article-header {
  grid-area: welcome;
  font-family: "Inconsolata", serif;
  font-size: 24px; }
  @media (min-width: 1000px) {
    .focus-article-header {
      font-size: 36px; } }

.huiImage {
  grid-area: picture;
  margin: 0 auto;
  border-radius: 50%;
  object-fit: cover;
  padding: 10px; }

.self-description {
  grid-area: self-description; }

.focus-article-body {
  grid-area: content; }

.App-header {
  background-position: center;
  background-size: cover; }

.App-header {
  background-color: white;
  margin-bottom: 10px; }

.App-title {
  display: none;
  font-family: "Inconsolata", serif;
  font-size: 24px;
  margin-bottom: 0;
  color: black; }
  @media (min-width: 1000px) {
    .App-title {
      font-size: 36px; } }
  @media (min-width: 1000px) {
    .App-title {
      display: block; } }

.logo {
  font-family: "Inconsolata", serif;
  font-size: 24px;
  font-size: 2em;
  padding: 40px; }
  @media (min-width: 1000px) {
    .logo {
      font-size: 36px; } }
  @media (min-width: 800px) {
    .logo {
      font-size: 4em;
      padding: 60px; } }

.bonnie {
  max-height: 10vh;
  margin-bottom: 0;
  padding-top: 2vh; }
  @media (min-width: 1000px) {
    .bonnie {
      max-height: 100px;
      height: 30vh; } }
  .bonnie img {
    fill: #ff533d; }

.header-border-top {
  background-image: repeating-linear-gradient(30deg, #ff533d, #ff533d 10px, black 10px, black 20px);
  height: 2vh; }

.navigation-bar {
  display: flex;
  justify-content: space-around;
  font-family: "Inconsolata", serif;
  font-size: 18px;
  padding-bottom: 10px;
  text-transform: uppercase;
  opacity: 0.8; }
  @media (min-width: 1000px) {
    .navigation-bar {
      font-size: 22px; } }

.small-menu {
  display: flex;
  background-color: black;
  opacity: 0.8; }
  .small-menu svg {
    fill: white; }

.large-menu .navigation-bar {
  padding: 10px;
  background-color: black;
  font-weight: 300;
  margin-bottom: 20px; }

.navigation-bar-link {
  color: white; }

.blog-post-title {
  display: flex;
  justify-content: space-between; }
  .blog-post-title span {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    padding-bottom: 10px; }

/*# sourceMappingURL=style.css.map */
