.page-About {
	display: grid;
	grid-row-gap: $core-unit * 2;
}

.about-page-icon {
  display: flex;
  justify-content: center;
 svg{
    width: 100%;
    min-height: 50px;
    max-width: 50px;
 }
}

.facts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(min-content, 50px));
  grid-column-gap: $core-unit * 2;
  grid-row-gap: $core-unit;
}

.fact {
	display: grid;
	grid-template-rows: 1fr minmax(min-content, 50px);
}

.fact-attribute {
	text-align: center;
	border-bottom: 1px solid;
}

.fact-value {
	text-align: center;
}
