.blog-post-post {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
	  "blog-title"
	  "blog-content"
	  "tags";
		  
  @include breakpoint(medium) {
	  grid-template-columns: 3fr 1fr;
	  grid-template-areas:
		  "blog-title blog-title"
	  	  "blog-content tags"
		  "blog-content tags";
  }
  	
}

.blog-post-header {
  grid-area: blog-title;
  height: 30vh;
  align-items: flex-end;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include breakpoint(medium) {
  	h2 {
  		margin-top: 0;
  	}
  	height: 20em;
  }
}

.blog-post-header-title {
  background-color: $color-background;
  width: fit-content;
  border-top-right-radius: 30px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 60%;

	h1 {
		padding:0;		
		margin: 0;
	}
}

.blog-post-content {
	grid-area: blog-content;

	img {
		max-width: 100%;
		padding: 10px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	code[class*="language-"], pre[class*="language-"] {
		white-space: pre-wrap;
	}
}

.blog-post-date {
	margin-top: $core-margin;
}

.blog-post-tags {
	grid-area: tags;
	text-align: right;
	
	h2 {
		margin-bottom: 0;
		padding-bottom: 0;
	}
	ul {
		 list-style-type: none;
		 padding-left: 0;

		 a {
		 	text-decoration: none;
		 }
	}
}

.blog-post-share-blog {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}