// fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Raleway');
$primary-font: 'Dancing Script', cursive;
$secondary-font: 'Raleway', sans-serif;
$tertiary-font: 'Roboto', sans-serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 600;

// core units and styles
$core-unit: 10px;
$core-border-unit: 1px;
$core-border-style: solid;
$core-padding: 10px;
$core-margin: 10px;

// core colours
$color-foreground: black;
$color-background: white;
$color-border: #3f3f3f;

// device breakpoints
@mixin breakpoint($point) {
  @if $point == large {
    @media (min-width: 1000px) { @content; }
  }
  @else if $point == medium {
    @media (min-width: 800px) { @content; }
  }
  @else if $point == large {
    @media (min-width: 650px)  { @content; }
  }
}

// typography
@mixin header-1 {
	font-family: $primary-font;
	font-size: ($core-unit * 3.6);
	padding-bottom: $core-unit;

	@include breakpoint(large) {
    	font-size: 62px;
  	}
}
@mixin header-2 {
	font-family: $secondary-font;
	font-size: ($core-unit * 2.2);
	padding-bottom: $core-unit;

	@include breakpoint(medium) {
    	font-size: 24px;
  	}
}
@mixin header-3 {
		font-family: $secondary-font;
		font-size: ($core-unit * 1.8);
		padding-bottom: $core-unit;
		@include breakpoint(large) {
			font-size: 22px;
		}
}
@mixin regular-text {
		font-family: $tertiary-font;
		font-size: ($core-unit * 1.4);
		padding-bottom: $core-unit;
}

h1 {
	-webkit-margin-before: 0;
	@include header-1;
}

h2 {
  @include header-2;
}

h3 {
  @include header-3;
}

p {
  @include regular-text;

  a {
  	text-decoration: underline;
  }
}

a {
	text-decoration: none;
}

h1, h2, h3, h4, p {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}
