.page-CV {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(min-content, 1fr));
  grid-row-gap: $core-unit;
}

.cv-section {
	display: grid;
  page-break-after: always;
	@include breakpoint(medium) {
		grid-row-gap: 20px;
	}
}

.cv-section-head {
  border-bottom: 1px solid;
  width: 100%;
	h2 {
		margin-bottom: 0;
		text-align: center;
	}

	grid-row-start: 1;

	@include breakpoint(medium) {
		justify-self: center;
	}
}

.cv-item {
	display: grid;
	grid-column-gap: $core-unit * 2;

	@include breakpoint(medium) {
  	grid-template-columns: 1fr 2fr;
	}

}

.cv-attribute {
  display: flex;
  flex-direction: column;
  text-align: end;
  align-items: flex-end;
	h3 {
		margin-bottom: 0;
	}

	@include breakpoint(medium) {
		justify-self: end;
		grid-column-start: 1;

		h3 {
			margin-bottom: $core-margin;
		}
	}
}

.cv-value {
	display: grid;
	grid-template-areas:
		"timespan timespan"
		"description .";
	grid-column-gap: $core-unit;
	grid-row-gap: $core-unit;

	@include breakpoint(medium) {
		grid-template-areas:
			"description timespan"
			"description .";
		grid-column-start: 2;	
	}
}


.cv-value-description {
	grid-area: description;

}

.cv-value-timespan {
	grid-area: timespan;
	align-self: center;
	
	@include breakpoint(medium) {
		justify-self: end;
	}
}

.cv-download-button {
  height: 50px;
  width: 50px;
   svg{
    width: 100%;
    min-height: 50px;
    max-width: 50px;
  }
}

.cv-download {
  display: flex;
  flex-direction: column;
  align-items: center;
}


// Below are the styles relevant to the printing layout
  
.cv-contact-info, .cv-name {
  display: none;
}

.cv-print-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media print {

  .cv-name {
    display: unset;
    h1 {
      font-size: 28px;
      text-align: center;
    }
  }

  .cv-section-head {
    display: flex;
  }

  .cv-contact-info {
    display: unset;
    text-align: end;

    ul {
      list-style-type: none;
      padding-left: 0;
    }
  }
  
ul li {
  a[href^="http://"]:after, a[href^="ftp://"]:after {
    content: " (" attr(href) ")";
  }
}
  .about-page-icon svg {
    display: none;
  }

  body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 11px;
    color: #333333;
    margin-top: 2cm;
    margin-right: 2cm;
    margin-bottom: 2cm;
    margin-left: 2cm;
  }

  .header-wrapper {
    display: none;
  }

  .component-Footer {
    display: none;
  }

  .cv-download {
    display: none;
  }
  
  @page {
    margin: 2cm;
  }
}
