.component-Footer {
}

footer {
  color: black;
  font-size: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: $color-border;
  color: black;
}
