.component-Footer {
    width: 100%;
}

footer {
  color: black;
  font-size: 12px;
  width: 100%;
  align-items: center;
  background-color: $color-border;
  color: black;
  height: 40px;
  display: flex;
  justify-content: center;
}
