.App-header {
    background-position: center;
    background-size: cover;
}

.App-header {
  background-color: $color-background;
  margin-bottom: $core-padding;
  
}

.App-title {
  display: none;
  @include header-1;
  margin-bottom: 0;
  color: $color-foreground;

  @include breakpoint(large) {
    display: block;
  }
}

.logo {
  @include header-1;
  font-size: 2em;
  padding: 40px;

  @include breakpoint(medium) {
    font-size: 4em;
    padding: 60px;
  }
}

.bonnie {
  max-height: 10vh;
  margin-bottom: 0;
  padding-top: 2vh;

	@include breakpoint(large) {
		max-height: 100px;
    height: 30vh;
    
	}

  img {
   fill: $color-brand;
  }
}

.header-border-top {
  background-image: repeating-linear-gradient(30deg, $color-brand, $color-brand $core-unit, $color-border $core-unit, $color-border ($core-unit * 2));
  height: 2vh;
}
