.navigation-bar {
	display: flex;
	justify-content: space-around;
	@include header-3;
	text-transform: uppercase;
	opacity: 0.8;
}

.small-menu {
	display: flex;
	background-color: $color-foreground;
	opacity: 0.8;
	
	div[role=button] {
		padding: $core-padding;
	}

	svg {
		fill: $color-background;
	}
}

.large-menu {
	.navigation-bar {
		padding: $core-unit;
		background-color: $color-foreground;
		
		font-weight: $font-weight-light;
		margin-bottom: $core-unit * 2;
	}

	a:active {
		text-decoration: underline;
	}
}

.navigation-bar-link {
	color: $color-background;
}
