.template-wrapper {
	height: 100%;
	display: grid;
	grid-template-rows: min-content min-content 1fr;
	grid-template-columns: 1fr;
}

.footer-wrapper {
	grid-row-start: 3;
    justify-content: center;
    display: flex;
    align-items: flex-end;
}

.component-wrapper {
	grid-row-start: 2;
	-webkit-logical-width: -webkit-fill-available;
	width: -webkit-stretch;
}

.header-wrapper {
	grid-row-start: 1;			
}